#input_area {
     height:100%;
     width:50%;
     float:left;
}

#output_area {
    padding:1em;
    padding-top:0px;
}

#output_wrap {
    width:50%;
    float:left;
    height:100%;

}

#wiki_in {
    width:100%;
}

table tr:nth-child(1) {
    font-weight:bold;
    text-align:center;
}

table tr:nth-child(even) {
    background-color:#BFBFBF;
}

#editor div h1 a {
    color:#FFFFFF;
    text-decoration:none;
}